[project]
name = "bird-plot"
version = "0.1.1"
description = "A script to plot bird personality distribution"
authors = [{ name = "Anton Arapov" }]
license = { text = "Apache License 2.0" }
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pandas (>=2.2.3,<3.0.0)",
    "matplotlib (>=3.10.0,<4.0.0)",
    "python-dotenv (>=1.0.1,<2.0.0)",
    "numpy (>=2.2.1,<3.0.0)",
    "tomli (>=2.2.1,<3.0.0)",
    "rich (>=13.9.4,<14.0.0)",
    "typing-extensions (>=4.12.2,<5.0.0)",
]

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
bird-plot = "bird_plot.cli:main"

[tool.poetry.group.dev.dependencies]
ruff = "^0.9.5"
pytest = "^8.3.4"

[tool.ruff]
line-length = 120
